<div class="container">


    <form class="form-horizontal" ng-submit="finishStep1()">
        <fieldset>

            <!-- Form Name -->
            <legend>Step 1: Student Information</legend>

            <!-- Text input-->
            <div class="form-group">

                <div class="col-md-6">
                    <label class="control-label" for="firstName">First Name</label>
                    <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control input-md" required="" ng-model="user.firstName">
                    <span class="help-block">Enter First Name</span>
                </div>


                <div class="col-md-6">
                    <label class="control-label" for="lastname">Last Name</label>
                    <input id="lastname" name="lastname" type="text" placeholder="Last Name" class="form-control input-md" required="" ng-model="user.lastName">
                    <span class="help-block">Enter Last Name</span>
                </div>

            </div>


            <!-- Text input-->
            <div class="form-group">

                <div class="col-md-6">
                    <label class="control-label" for="email">Email</label>
                    <input id="email" name="email" type="email" placeholder="user123@fiu.edu" class="form-control input-md" required="" ng-model="user.email">
                    <span class="help-block">Enter Your FIU Email</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" value="Next" class="btn btn-fiu">
                </div>
            </div>

        </fieldset>
    </form>



</div>